body{
	//background-color: #7f8c8d !important;
	background-image: url(http://bgfons.com/upload/ornaments_texture1141.jpg);
}.titre{
    //padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
    //background-color: #e7e5e4;
    font-family: 'Gabriela', serif;
    font-size: 50px;
    letter-spacing: .10em;
    //text-align: center;
    text-shadow:
        1px -1px 0 #767676,
        -1px 2px 1px #767474;

}.calculator{
	background-color: #bdc3c7;
	 margin: 0 auto;
     width: 400px;
	height: 467.5px;
	box-shadow: 0px 50px 90px black;
	border-radius: 10px 10px 0px 0px;
}.screen{
	position: relative;
	height: 130px;
	width: 400px;
	background-color:gainsboro;
	border-radius: 10px 10px 0px 0px;
}.touch{
	position: relative;


	width: 400px;
	height:270px;
}
.block{
	position: relative;

	width: 300px;
	height: 67.5px;
	display: flex;
}.block-right{
	position: relative;
	float: right;

	width: 100px;
	height: 337.5px;
	top: -337.5px;
}.inner-block{
	position: relative;
	border: 1px dotted #34495e;

	width: 100px;
	height: 67.5px;
	cursor:pointer;

}
.inner-block1{
	position: relative;
	border: 1px dotted #34495e;

	width: 200px;
	height: 67.5px;
	cursor:pointer;

}span{
	position: relative;
	top: 20%;
	left:40%;
	font-size: 25px;
	font-family: "lato" ;
	color: #34495e;
	font-weight: 600;

}.inner-block:active{

	box-shadow: 0px 0px 10px 1px #34495e inset;

}.all{
	position: relative;
	width: 400px;
	height: 50px;
	padding: 15px;
	color: grey;
	font-size: 17px;
	font-family:cursive;
	overflow: hidden;

}.text{
	position: relative;
	//float:left;
	width: 400px;
	height: 80px;
	padding-top:2px;
	padding-right:10px;
	font-size: 60px;
	overflow:hidden;
	color: #34495e;
	font-family: "lato";
}
